# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test bin, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# JetBrains
.idea/

# storage
outputs/**

# TODO cleanup
# some useful links
links.txt

# any certificates or keys generated
*.crt
*.pem
*.key

# build output
bin/
lock

pkg/mod/cache/
